<!DOCTYPE html>
<html>
  <head>
	<style>{{ css }}</style>
	<link href="https://cdn.rawgit.com/walchko/font-linux/v0.6/assets/font-linux.css" rel="stylesheet">
  </head>
  <body>
	<p><i class="fl-{{os_image[0]}} fl-72" style="color: {{os_image[1]}}"></i></p>
	<table>
	{% for item in items %}
	<TR>
	   <TD class="c1">{{ item[0] }}</TD>
	   <TD class="c2">{{ item[1] }}</TD>
	</TR>
	{% endfor %}
	</table>

	<footer>
		<div class="container">
			<a href="http://github.com/walchko/hostinfo">
				<i class="fl-github fl-24"></i>
			</a>
			<div class="stamp">{{ time }}</div>
		</div>
	</footer>
  </body>
</html>
